body{
    background-color:rgb(118, 127, 158);
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction:column;
    margin:0;
}
h1{
    color:rgb(232, 221, 180);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width:320px;
    padding:30px;
    background-color:rgb(218, 164, 100);
    border:2px solid rgb(222, 195, 132);
    color:rgb(89, 106, 167);
    border-radius: 10px;
    text-align: center;
}
.container h2{
    margin-bottom:20px;
}
.form-group{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:20px;
}
.form-group label{
    font-size:20px;
}
.form-group input{
    padding:5px;
    width:170px;
    border-radius: 5px;
}
.container input[type="submit"]
{
    width:120px;
    height:40px;
    border:none;
    border-radius:10px;
    background-color:rgb(118,127,158);
    color:white;
    cursor:pointer;
    font-size:16px;
}
.container input[type="submit"]:hover{
    background-color:rgb(89, 106, 167);
    transition:0.3s;
}